[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
commitizen = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[packages]
pillow = "*"
tweepy = "*"

[requires]
python_version = "3.8"
